
#CheckStatus .pHeader,
#CheckStatus .statuscount {
    font-family: 'promptregular', sans-serif;
}

#CheckStatus .pHeader {
    font-size: 25px;
}

#CheckStatus .pNumber {
    margin: 0;
    color: #313a46;
    font-weight: 600;
    font-size: 22px;
}

#CheckStatus .pText {
    font-weight: 500;
    font-size: 15px;
}

#CheckStatus .card-header {
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    text-align: center;
}

#CheckStatus .tableList th {
    font-weight: bold;
    color: #000;
}

#CheckStatus .box-search {
    border: 0.5px solid #ffe8c4;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    background: #FFF6E8;
}

#CheckStatus .tableList th,
#CheckStatus .tableList td {
    padding: 0.75rem;
    background-color: #fff;
}

#CheckStatus .ui-widget-header {
    background: #fff !important;
    border: none !important;
}

#CheckStatus p.pHeader {
    margin: 5px 10px;
    font-size: 18px;
}

#CheckStatus .padrg {
    padding-right: 7.5px;
}

#CheckStatus .padlf {
    padding-left: 7.5px;
}

#CheckStatus p-chart.chartCus canvas {
    margin: 3% auto;
    width: 200;
    height: 200;
}

#CheckStatus p-chart.barCus canvas {
    width: 100%;
    height: 39;
}

#CheckStatus .padbarchart {
    padding-bottom: 41px;
}

#CheckStatus .padConten {
    padding: 0 10%;
}


/* color btn */

#CheckStatus .badge-InproCut {
    background: #aed2f9;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .badge-successCut {
    background: #84e079;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .badge-orangeCut {
    background: #FFD37A;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .badge-closedCut {
    background: #9fa9b3;
    color: #2d2d2d;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}


/* ความสำคัญ */

#CheckStatus .badge-HighCut {
    background: #FF6E6E;
    color: #fff;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .badge-MediumCut {
    background: #f7952e;
    color: #fff;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .badge-LowCut {
    background: #d4a929;
    color: #fff;
    font-size: 13px;
    font-weight: normal !important;
    padding: 7px 4px;
    border-radius: 500px;
    width: 100% !important;
    font-weight: 600;
}

#CheckStatus .btn-warningCut {
    color: #111;
    background-color: #ffe59a;
    border-color: #ffc107;
}


/* end color btn */

#CheckStatus .btnclass {
    width: 100px;
    text-align: center;
}

#CheckStatus .ticketNoclass {
    text-align: center;
    width: 150px !important;
}

#CheckStatus .numberclass {
    text-align: center;
    width: 80px !important;
}

@media (max-width: 560px) {
    #CheckStatus .badge-InproCut,
    #CheckStatus .badge-successCut,
    #CheckStatus .badge-orangeCut,
    #CheckStatus .badge-closedCut {
        width: 50% !important;
    }
    #CheckStatus .numberclass,
    #CheckStatus .ticketNoclass {
        text-align: left;
        width: 100% !important;
    }
    #CheckStatus .tableList th,
    #CheckStatus .tableList td {
        text-align: left !important;
    }
  

}

