$body-bg: #E1E2E1; 
$p-color-bg: #2196F3; 
$p-color: white; 
$p-light-color-bg: #2196F3; 
$p-light-color: black; 
$p-dark-color-bg: #006fa7; 
$p-dark-color: white; 

$s-head-color-bg:#FFFFFF;
$s-head-color:black;
$s-color-bg: #1f84e9;
$s-color: white; 
$s-light-color-bg: #63a4ff; 
$s-light-color: white; 
$s-dark-color-bg: #004ba0; 
$s-dark-color: white; 
 
$h-p-color-bg: #0077FF; 
$h-p-color:white; 
$h-s-color-bg: #cce5ff; 
$h-s-color: black;

//-----------------------------------------------
